*.pyc
*.pyo
*.pyd

# Data directories
Builds/
Continuous/
Spectrogram/
POST/
Synoptic/

ssh_Broadband/
ssh_Latest/
ssh_Log/
log/

# Logfiles
*.log
Builds - Shortcut.lnk
Synoptic/XX050101121647_000.mat
*.pyc
*.pyc
*.pyc
__ver__.py
*.pyc
__ver__.py
*.mat
*.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.pdf
Untitled.ipynb
*.pyc
DaqSettings.xml
*.pyc
*.mau
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
